    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Mypetfindr</h1>
            <h3>Let Us Connect Lost Pets With Owners</h3>
            <br>
            <!-- <a href="/pets/new?status=lost" class="btn btn-dark btn-lg">Lost A Pet?</a>
            <a href="/pets/new?status=found" class="btn btn-dark btn-lg">Found A Pet?</a> -->
        </div>
    </header>