    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Mypetfindr</h1>
            <h3>Let Us Connect Lost Pets With Owners</h3>
            <br>
            <!-- <a href="/pets/new?status=lost" class="btn btn-dark btn-lg">Lost A Pet?</a>
            <a href="/pets/new?status=found" class="btn btn-dark btn-lg">Found A Pet?</a> -->
        </div>
    </header>
      

         
        
           <!-- Portfolio -->

    <section id="portfolio" class="portfolio">
              <aside class="call-to-action bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>All <%= params[:status].capitalize %> Pets</h3>
                        </div>
                    </div>
                </div>
            </aside>
        <div class="container">
            <div class="row">

                    <hr class="small">
                    <div class="row">
                     <% @pets.each do |pet| %>
                        <div class="col-md-6">
                       
                          <a href="/pets/<%= pet.id %>">
                            <div class="portfolio-item">
                              <% if pet.pet_images.any? %>
                                <%= image_tag pet.pet_images.first.name, class: "img-responsive format_pet_image boring_border" %>
                              <% end %>
                            </div>
                          </a>
                           
                        </div>
                         <% end %>  
                       
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
              <aside class="call-to-action bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>Search Lost Or Found Pet Ads.</h3>
                            <a href="/pets/?status=found" class="btn btn-lg btn-light">Search Found Pets</a>
                            <a href="/pets/?status=lost" class="btn btn-lg btn-dark">Search Lost Pets</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <!-- /.container -->
    </section>